[Unit]
Description=license-server-api
Requires=network.target

[Service]
Type=simple
User=root
Group=www-data

ExecStart=/<path_to_the_binary>
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -TERM $MAINPID
KillMode=process
Restart=on-failure

Environment=db_name=license_server
Environment=db_user=<set_your_value>
Environment=db_pass=<set_your_value>
Environment=db_type=<set_your_value>
Environment=db_host=<set_your_value>
Environment=db_port=<set_your_value>
Environment=token_password=<set_your_value>
Environment=sentry_dns=<set_your_value>
Environment=new_relic_license_key=<set_your_value>


[Install]
WantedBy=multi-user.target