[Unit]
Description=license-server-api
Requires=network.target

[Service]
Type=simple
User=root
Group=www-data

ExecStart=/home/user/license-server/bin/license-server-linux-amd64
ExecReload=/bin/kill -SIGINT $MAINPID
ExecStop=/bin/kill -SIGINT $MAINPID
RemainAfterExit=no
Restart=on-failure
RestartSec=3s

Environment=db_name=license_server
Environment=db_user=<REDACTED>
Environment=db_pass=<REDACTED>
Environment=db_type=<REDACTED>
Environment=db_host=<REDACTED>
Environment=db_port=<REDACTED>
Environment=token_password=thisIsTheJwtPassword
Environment=sentry_dns=<REDACTED>
Environment=new_relic_license_key=<REDACTED>



[Install]
WantedBy=multi-user.target